@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Quicksand:wght@300;500&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    margin: 64px 140px;
}

main{
    margin-top: 55px;
}

.quebra-cabeça-desktop{
    height: 250px;
    display: flex;
}

.quebra-cabeça-mobile{
    display: none;
}

header img{
    width: 60px;
}

li a{
    /* color: 	#5D5F79; */
    color: #000038;
    text-decoration: none;
    font-weight: 400;
}

li a:hover{
    color: #F15E50;
    transition: 0.3s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-list li{
    letter-spacing: 1px;
    margin: 24px;
    font-weight: 400;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu .line1, .line2, .line3{
    width: 36px;
    height: 3px;
    background: #00001A;
    margin: 4px;
    transition: 0.3s;
}

.attribution {
    font-size: 11px;
    text-align: center;
    bottom: 0;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

  h1{
    margin-top: 40px;
    margin-left: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000038;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 400;
  }

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
        margin: auto;
    }

    header img{
        width: 50px;
    }

    .quebra-cabeça-desktop{
        display: none;
    }

    .col-1{
        justify-content: center;
    }

    .quebra-cabeça-mobile{
        display: flex;
        height: 290px;
        margin: -20px auto;
    }

    nav{
        margin: 32px 16px 0px;
        justify-content: space-between;
    }
    
    .nav-list{
        position: absolute;
        right: 0;
        top: 0;
        width: 60vw;
        height: 100vh;
        background: #FFF;
        flex-direction: column;
        padding-top: 100px; 
        transform: translateX(100%);
        font-weight: 400;
        transition: transform 0.3s ease-in;
    }

    .mobile-menu{
        display: block;
        z-index: 10;
    }
}

.nav-list.active{
    transform: translateX(0);
}

.mobile-menu.active .line1{
    transform: translate(20%, -80%) rotate(45deg);
    transform-origin: top left
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: translate(20%, 80%) rotate(-45deg);
    transform-origin: bottom left;
}