@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Quicksand:wght@300;500&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    margin: 64px 140px;
}

main{
    margin-top: 55px;
    display: flex;
}

.quebra-cabeça-desktop{
    width: 100%;
    display: flex;
}

.quebra-cabeça-mobile{
    display: none;
}

header img{
    width: 60px;
}

li a{
    color: #000038;
    text-decoration: none;
    font-weight: 400;
}

li a:hover{
    color: #F15E50;
    transition: 0.3s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-list li{
    letter-spacing: 1px;
    margin: 24px;
    font-weight: 400;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu .line1, .line2, .line3{
    width: 36px;
    height: 3px;
    background: #00001A;
    margin: 4px;
    transition: 0.3s;
}

.attribution {
    font-size: 11px;
    text-align: center;
    bottom: 0;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

  .col-1{
    padding-right: 40px;
  }

  .col-1 span{
    display: flex;
  }

  .col-1 h1{
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000038;
    letter-spacing: 4px;
    line-height: 50px;
    font-size: 50px;
    font-weight: 400;
  }

  .col-1 p{
    color: #C0C1C9;
    margin-top: 25px;
    font-size: 14px;
    line-height: 25px;
  }

  
.col-1 .margin-left{
    margin-left: 12px;
}

  #readMore{
    border: none;
  }

  #readMore a{
    background-color: #F15E50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.col-2{
    background-color: #000038;
    padding: 10px 8px;
    justify-items: space-between;
}

.col-2 #marginVolta{
    display: flex;
    flex-direction: column;
    margin: 12px 16px;
    justify-content: space-evenly;
}

.col-2 h1{
    color: #E9AB53;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size:42px;
    font-weight: 400;
    margin: 24px 0px;
}

.col-2 h4{
    color: #FFF;
    font-size: 1.125rem;
}

.col-2 h4,p{
    margin: 0.5rem 0;
}

.col-2 p{
    color: #C0C1C9;
    font-size: 0.75rem;
}


.bar{
    background-color: #C0C1C9;
    width: 100%;
    height: 1px;
    margin: 24px 0px;
}

footer{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

#zero1, #zero2, #zero3{
    display: flex;
    margin: 50px 0;
} 

footer span{
    display: block;
    padding-left: 24px;
}

footer span h1{
    color: #C0C1C9;
    font-size: 36px;
    font-weight: 700;
}

footer span h2{
    color:#000038;
    font-size: 20px;
    margin-top: 8px;
}

footer span p{
    color: #8e8e94;
    padding-right: 8px;
    font-size: 14px;
    line-height: 25px;
    text-align: start;
    max-height: 100%;
}

footer img{
    width: 40%;
    max-height: 100%;
    padding-left: 12px;
}

#contato{
    justify-content: center;
}

#contato h1{
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000038;
    letter-spacing: 4px;
    line-height: 50px;
    font-size: 50px;
    font-weight: 400;
}
  
  #contato-coluna{
      display: block;
      gap: 16px;
  }
  
  #contato-coluna div:nth-child(1){
      padding: 4rem 4rem;
  }
  
  label{
      font-size: 16px;
      color: #FFF;
  }
  
  input, textarea{
      border: 0;
      border-bottom: solid #FFF 1px;
      width: 100%;
      height: 28px;
      margin: 8px 0px 16px 0px;
      background-color: #000038;
  }
  
  textarea{
    resize: none;
    min-height: 125px;
  }
  
  iframe{
      width: 100%;
      height: 100%;
  }
  
  #contato div:nth-child(1){
      background-color: #000038;
      padding: 2rem;
      margin-top: 30px;
  }
  
  #botao{
    text-align: right;
  }
  
  form button{
      border: none;
      background-color: transparent;
      color: #FFF;
      font-size: 16px;
      text-transform: uppercase;
      padding: 8px;
  }
  
  form button:hover{
    background-color: #FFF;
    color: #000;
    transition: 1s;
    cursor: pointer;
  }

input {
    color: black;
}
  

@media (max-width: 767px) {
    body{
        overflow-x: hidden;
        margin: auto;
        margin: 0 20px;
    }

    main{
        display: block;
    }

    header img{
        width: 50px;
    }

    .quebra-cabeça-desktop{
        display: none;
    }

    .col-1{
        justify-content: center;
        padding: 0;
    }

    .col-1 span{
        display: block;
      }

    .quebra-cabeça-mobile{
        display: flex;
        width: 100%;
        margin: 0px auto;
    }

    nav{
        margin-top: 32px;
        justify-content: space-between;
    }
    
    .nav-list{
        position: absolute;
        right: 0;
        top: 0;
        width: 60vw;
        height: 100vh;
        background: #FFF;
        flex-direction: column;
        padding-top: 100px; 
        transform: translateX(100%);
        font-weight: 400;
        transition: transform 0.3s ease-in;
    }

    .col-2{
        margin-top: 30px;
    }

    .mobile-menu{
        display: block;
        z-index: 10;
    }

    #readmore{
        margin-top: 30px;
        justify-self: left;
    }

    footer{
        display: block;
    }

    footer img{
        width: auto;
        max-height: 100px;
        padding: 0;
    }

    footer span{
        padding-left: 16px;
    }

    footer span p{
        color: #8e8e94;
        padding-right: 8px;
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
        max-height: 100%;
    }

    #contato-coluna div:nth-child(1){
        padding: 1rem 0.5rem;
    }
}

.nav-list.active{
    transform: translateX(0);
}

.mobile-menu.active .line1{
    transform: translateY(8px) rotate(45deg);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: translateY(-6px) rotate(-45deg);
}
